[Unit]
Description=Periodically update SkyPortal Home from GitHub

[Timer]
OnBootSec=10min
OnUnitActiveSec=6h
RandomizedDelaySec=15min
Persistent=true
Unit=skyportal-home-update.service

[Install]
WantedBy=timers.target
